.topspace{
  margin-top: 20px;
}

.header{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.email{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  margin-bottom: 30px;
}

.instagram{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  margin-bottom: 30px;
}

.linkedin{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}

span{
  margin-left: 100px;
}

.contactform{
  display: flex;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 300px;
}

form{
  margin-left: 100px;
  font-size: x-large;
}

img{
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 80px;
}

@media only screen and (max-width: 600px){
  .contactform{
    margin: 0;
  }

  span{
    margin-left: 10px;
    margin-right: -80px;
  }

}